/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f9a109;
    --secondary-color: #4b78b8;
    --foreground-color: #333;
    --foreground-color-muted: #828282;
    --background-color: #f2f2f2;

}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

h1 {
    font-size: 3.5rem;
}

p {
    line-height: 1.4;
}

/* Utility Classes */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

.wrapper {
    display: flex;
    gap: 3rem;
}

/* Header */
.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 8rem 0 3rem 0;
}

.header-hero p {
    max-width: 70ch;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar-logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--foreground-color);
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--foreground-color-muted);
}

.navbar-menu a:hover {
    color: var(--foreground-color);
}

/* Button */
.btn {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-primary {
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 1px solid var(--foreground-color);
}

.btn-secondary {
    color: var(--background-color);
    background-color: var(--foreground-color);
    border: 1px solid var(--foreground-color);
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
}

/* Section */
.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0;
}

.section p {
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
}

